* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #121212;
  font-size: 16px;
  font-weight: 400;
}

.btnphone {
  background: #b61984;
  border-radius: 30px;
  border: 2px solid #b61984;
  padding: 11px 35px;
  color: #f5f9fe;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.5s;
}
.btnphone:hover {
  background: #f5f9fe;
  border-radius: #b61984;
  color: #b61984;
  transition: all 0.5s;
}

.btn-sub {
  color: #121212;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.5s;
}
.btn-sub:hover {
  background: #b61984;
  border-radius: #f5f9fe;
  color: #f5f9fe;
  transition: all 0.5s;
}

header .fixed-top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 50%;
  padding: 0;
}
header .nav-fixed {
  transition: all 0.7s;
  padding: 0px;
  background-color: white;
  border-bottom: none;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}
header .active::after {
  content: "";
  width: 9px;
  height: 9px;
  background-color: #b61984;
  display: block;
  border-radius: 50%;
  transform: translateX(23px) translateY(10px);
}
header .navbar-expand-lg .navbar-nav .nav-link, header .navbar-expand-lg .navbar-nav .collapse .btnmxh, header .collapse .navbar-expand-lg .navbar-nav .btnmxh {
  padding-right: 1.5rem;
  color: #121212;
  font-size: 16px;
  font-weight: 400;
}
header .navbar-nav a:hover {
  text-decoration: none;
  color: #b61984 !important;
}
header .nav-link a, header .collapse .btnmxh a {
  padding-left: 20px;
  color: #121212;
  font-size: 16px;
  font-weight: 400;
}
header .collapse .btnphone a {
  color: #f5f9fe;
  font-size: 16px;
  font-weight: 600;
}
header .collapse .btnphone a:hover {
  text-decoration: none;
  color: #b61984;
}
header .collapse .btnmxh {
  font-size: 24px;
  padding-left: 20px;
}
header .collapse .btnmxh a:hover {
  text-decoration: none;
  color: #b61984;
}

@media screen and (max-width: 992px) {
  header .navbar-toggler:hover {
    color: #b61984;
  }
  header .btnphone,
header .btnmxh {
    display: none;
  }
  header .container {
    background-color: white;
  }
  header .navbar {
    justify-content: flex-end;
    flex-direction: row-reverse;
    height: 50px;
  }
  header .navbar-toggler {
    background-color: transparent;
    color: #181818;
  }
  header .nav-link, header .collapse .btnmxh {
    text-align: center;
    background-color: white;
    width: 100%;
  }
  header header .port img {
    width: 48px;
    height: 48px;
  }
}
.bannerlanguege {
  width: 100%;
  padding: 50px 0 40px;
  position: relative;
}
.bannerlanguege .container {
  width: 100%;
  padding: 0 29px;
  top: 21px;
  z-index: 3;
}
.bannerlanguege .banner_container {
  display: flex;
  justify-content: center;
}
.bannerlanguege .banner_left {
  width: 55%;
  padding: 15% 0 15% 0;
}
.bannerlanguege .banner_left .title h2 {
  color: #b61984;
  font-size: 1.4rem;
  font-weight: 600;
}
.bannerlanguege .banner_left .title h1 {
  font-weight: 700;
  position: relative;
  font-size: 4.3rem;
}
.bannerlanguege .bannertop {
  position: absolute;
  left: 0;
  top: 0;
}
.bannerlanguege .bannertop img {
  width: 86%;
  height: auto;
}
.bannerlanguege .bannerborder {
  position: absolute;
  left: 0;
  bottom: 0;
}
.bannerlanguege .bannerborder img {
  width: 100%;
  height: auto;
  display: block;
}

.people {
  position: relative;
  background-color: #dcd1f3;
}
.people .row {
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
}
.people .row .card {
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.5s;
  border: transparent;
}
.people .row .card:hover {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 24px 18px;
}
.people .row .card .card-teacher {
  text-align: center;
  padding: 40px 5px;
}
.people .row .card .card-title {
  font-size: 0.75rem;
  margin-bottom: 0.7em;
  color: #b61984;
}
.people .row .card .card-text {
  font-size: 1.8rem;
  font-weight: 700;
  color: #181818;
  padding: 2px 0;
}
.people .row .card .card-text-2 {
  font-size: 13px;
  font-weight: 500;
  color: #181818;
  padding: 6px 0;
}
.people .row .card img {
  border-radius: 10px;
}
.people .row .card img:hover {
  transition: all 1s;
  transform: scale3d(1.07, 1.07, 1.07);
}
.people .peopleborder {
  bottom: 0;
  position: absolute;
  right: 0;
  left: 0;
  pointer-events: none;
}
.people .peopleborder img {
  max-width: 100%;
  height: auto;
}

.formpeople {
  padding-top: 150px;
  position: relative;
}
.formpeople .row {
  width: 100%;
}
.formpeople .formimg {
  display: block;
  overflow: hidden;
}
.formpeople .formimg img {
  display: block;
  margin: 0;
  line-height: 0;
  max-width: 100%;
  height: auto;
}
.formpeople .formtext .formthunhat {
  display: flex;
  justify-content: center;
}
.formpeople .formtext .formthunhat .name {
  display: flex;
  justify-content: center;
  max-width: 50%;
  padding-right: 1em;
}
.formpeople .formtext .formthunhat .name .fa-solid {
  position: absolute;
  top: 11.2rem;
  left: 3em;
}
.formpeople .formtext .formthunhat .email {
  display: flex;
  justify-content: center;
  max-width: 50%;
  position: relative;
}
.formpeople .formtext .formthunhat .email .fa-solid {
  left: 1em;
  line-height: 1;
  position: absolute;
  top: 0.6rem;
  right: 3em;
}
.formpeople form {
  border-radius: 10px;
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  background: #fff;
}
.formpeople form h2 {
  font-size: 33px;
  font-weight: 700;
  color: #181818;
  padding: 30px 0;
}
.formpeople form .over {
  margin-bottom: 25px;
}
.formpeople form .form-group {
  width: 90%;
  color: #b61984;
  padding-right: 6px;
}
.formpeople form .form-group .form-control {
  padding: 0.5rem 2.2rem;
  border-radius: 20px;
}
.formpeople form .form-group textarea {
  padding: 1em 1em 1em 3.5em !important;
  height: 90px;
  line-height: 1.5;
  font-size: 0.8em !important;
  border-radius: 20px;
}
.formpeople form .form-group .input-group-langugue {
  display: flex;
  justify-content: center;
  max-width: 50%;
  position: relative;
}
.formpeople form .form-group .input-group-langugue .fa-solid {
  left: 1em;
  position: absolute;
  top: 0.6rem;
}
.formpeople form .form-group .input-group-messages {
  position: absolute;
  top: 21.8em;
  left: 3.2em;
}
.formpeople .formpeoplebottom {
  position: absolute;
  bottom: 0;
  left: 0;
}
.formpeople .formpeoplebottom img {
  max-width: 100%;
  height: auto;
}

footer {
  height: auto;
  background-image: url(../img/footer_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
footer .row {
  padding: 180px 0 200px;
}
footer .row .title {
  line-height: 1.2;
}
footer .row .title h2 {
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  padding: 24px 0;
}
footer .row .footer-address div i {
  padding-right: 8px;
  color: #fff;
}
footer .row .footer-address span {
  color: #fff;
}
footer .row .icon-mxh {
  padding: 20px 0;
  margin-right: 18px;
}
footer .row .icon-mxh a {
  font-size: 1.5rem;
  font-weight: 200;
  color: #fff;
  text-decoration: none;
  padding-top: 5px;
  margin-right: 13px;
  transition: all 0.5s;
}
footer .row .icon-mxh a:hover {
  color: #181818;
}
footer .row .footer-menu a,
footer .row .footer-About a {
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1019607843);
  text-decoration: none;
}
footer .row .footer-menu a:hover,
footer .row .footer-About a:hover {
  opacity: 0.6;
}
footer .row .new div {
  padding: 30px 0 20px;
}
footer .row .new input {
  background-color: #b61984;
  padding: 11px 42px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  color: white;
  text-align: center;
}
footer .row .new .Email::placeholder {
  color: white;
}
footer .row .new .btn-sub {
  padding: 11px 92px;
  border: 1px solid white;
  border-radius: 20px;
  transition: all 300ms ease;
  text-align: center;
}/*# sourceMappingURL=main.css.map */