.bannerlanguege {
    
   
    .banner_content {
        width: 80%;
        margin: 0 auto;
    }
    .banner_container {
        display: flex;
        align-items: center;
    }
    .banner_left{
        width: 50%;
        .title{
            p{
                @include styleText ($color-pink-1, $fs-2, $fw-2); 
                
            }
            h2{
                position: relative;
                z-index: 1;
            }
            h2::after, ::before{
                
                content: ' ';
                line-height: 0;
                display: table;
                width: 100%;
            }
        }
        
    }
    .banner_right{
        width: 50%;
    }
   
    .banner_rt img{ 
        padding: 55px; 
        width: 100%;
           
    }
    .bannertop, .bannerborder{
        position: absolute;
        right: 0;
        left: 0;
        pointer-events: none;
        img{
            max-width: 100%;
            
            display: block;
            
           
        }
    }
    
       
}
