.bannerlanguege {
    width: 100%;
    padding: 50px 0 40px;
    position: relative;

    .container {
        width: 100%;
        padding: 0 29px;
        top: 21px;
        z-index: 3;
    }

    .banner_container {
        display: flex;
        justify-content: center;
        
    }

    .banner_left {
        width: 55%;

        .title {

            h2 {

                @include styleText($color-pink-1, $fs-2, $fw-2);
            }

            span {
                font-weight: 700;
                position: relative;
                font-size: 3.5rem;
            }

            &::after,
            ::before {
                content: " ";
                line-height: 0;
                display: table;
                width: 100%;
            }

        }

    }



    .bannertop {
        position: absolute;
        left: 0;
        top: 0;

        img {
            width: 99%;
            height: auto;
            display: block;
        }
    }

    .bannerborder {
        position: absolute;
        left: 0;
        bottom: 0;

        img {
            width: 100%;
            height: auto;
            display: block;

        }
    }

}