.formpeople {
    padding-top: 150px;
    position: relative;


    .row {
        width: 100%
    }

    .formimg {
        display: block;
        overflow: hidden;

        img {
            display: block;
            margin: 0;
            line-height: 0;
            max-width: 100%;
            height: auto;
        }
    }

    .formtext {

        .formthunhat {
            display: flex;
            justify-content: center;


            .name {
                display: flex;
                justify-content: center;
                max-width: 50%;
                padding-right: 1em;

                .fa-solid {
                    position: absolute;
                    top: 11.2rem;
                    left: 3em;

                }



            }

            .email {
                display: flex;
                justify-content: center;
                max-width: 50%;
                position: relative;

                .fa-solid {
                    left: 1em;
                    line-height: 1;
                    position: absolute;
                    top: 0.6rem;
                    right: 3em;

                }

            }
        }
    }

    form {

        border-radius: 10px;
        box-shadow: 0 30px 30px -10px rgb(0 0 0 / 20%);
        padding: 20px;
        background: $color-white-3;

        
        h2 {
            font-size: 33px;
            font-weight: 700;
            color: #181818;
            padding: 30px 0;
            
        }

        .over {
            margin-bottom: 25px;
        }





        .form-group {
            width: 90%;
            color: #b61984;
            padding-right: 6px;
            .form-control {
                padding: 0.5rem 2.2rem;
                border-radius: 20px;
            }

            textarea {
                padding: 1em 1em 1em 3.5em !important;
                height: 90px;
                line-height: 1.5;
                font-size: .8em !important;
                border-radius: 20px;

            }


            .input-group-langugue {
                display: flex;
                justify-content: center;
                max-width: 50%;
                position: relative;

                .fa-solid {
                    left: 1em;
                    position: absolute;
                    top: 0.6rem;


                }

            }

            .input-group-messages {

                position: absolute;
                top: 21.8em;
                left: 3.2em;

            }


        }
    }

    .formpeoplebottom {
        position: absolute;
        bottom: 0;
        left: 0;

        img {
            max-width: 100%;
            height: auto;
        }
    }

}