header {
    
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.5rem;

        @include styleText($color-dark-1, $fs-1, $fw-1);
    }

    .nav-link {
        a {
            padding-left: 20px;
            @include styleText($color-dark-1, $fs-1, $fw-1);
        }
    }

    .collapse {
        padding-left: 100px;

        .btnphone {
           
            a {
                @include styleText($color-white-1, $fs-1, $fw-2);

                &:hover {
                    text-decoration: none;

                }
            }

        }

        .btnmxh {
            font-size: $fs-3;
            padding-left: 20px;
            @extend .nav-link;
        }

    }
}