header {
    .fixed-top {
        position: fixed;
        width: 100%;    
        top: 0;
        left: 50%;
        padding: 0;
    }

    .nav-fixed {
       
        transition: all 0.7s;
        padding: 0px;
        background-color: white;
        border-bottom: none;
        box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
    }

    .active::after {
        content: "";
        width: 9px;
        height: 9px;
        background-color: #b61984;
        display: block;
        border-radius: 50%;
        transform: translateX(23px) translateY(10px);
    }



    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.5rem;

        @include styleText($color-dark-1, $fs-1, $fw-1);
    }

    .navbar-nav a:hover {
        text-decoration: none;
        color: #b61984 !important;

    }

    .nav-link {
        a {

            padding-left: 20px;
            @include styleText($color-dark-1, $fs-1, $fw-1);

        }

    }

    .collapse {
        

        .btnphone {

            a {
                @include styleText($color-white-1, $fs-1, $fw-2);

                &:hover {
                    text-decoration: none;
                    color: #b61984;
                }
            }

        }

        .btnmxh {
            font-size: $fs-3;
            padding-left: 20px;
            @extend .nav-link;

            a:hover {
                text-decoration: none;
                color: #b61984;
            }
        }

    }

}

//reponsive
@include responsive("large") {
    header {
        .navbar-toggler {

            &:hover {
                color: #b61984;
            }


        }

        .btnphone,
        .btnmxh {
            display: none;
        }

        .container {
            background-color: white;
        }

        .navbar {
            justify-content: flex-end;
            flex-direction: row-reverse;
            height: 50px;
        }

        .navbar-toggler {
            background-color: transparent;
            color: #181818;
        }

        .nav-link {
            text-align: center;
            background-color: white;
            width: 100%;
        }

        header .port img {
            width: 48px;
            height: 48px;
        }


    }


}