@mixin styleText($color, $fs , $fw){
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}
@mixin styleButton($bg-color, $radius, $border, $py, $px) {
    background: $bg-color;  
    border-radius: $radius;
    border: $border;
    padding:  $py $px;
}
@mixin styleButtonHover($bg-hover, $bd-hover, $color-hover){
    background: $bg-hover;
    border-radius: $bd-hover;
    color: $color-hover;
}
@mixin responsive($screem){
    @if (map-has-key($map: $breakpoints, $key: $screem )) {
        //tìm thấy tên màn hình trong danh sách của $breakpoints
        $value: map-get($map: $breakpoints, $key: $screem);
        @media screen and (max-width: $value){
            @content;
        }
    }
    @else{
        @warn "Sai tên màn hinh nè";
    }
}